@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family : "Stellar-Light";
    src         : url("../fonts/Stellar-Light.otf");
}

@font-face {
    font-family : "Stellar-Regular";
    src         : url("../fonts/Stellar-Regular.otf");
}

@font-face {
    font-family : "Stellar-Medium";
    src         : url("../fonts/Stellar-Medium.otf");
}

@font-face {
    font-family : "Stellar-Bold";
    src         : url("../fonts/Stellar-Bold.otf");
}

@font-face {
    font-family : "Blanka-Regular";
    src         : url("../fonts/Blanka-Regular.otf");
}
