$breakpoint-xsm       : 480px;
$breakpoint-md        : 640px;
$breakpoint-xmd       : 767px;
$breakpoint-lg        : 992px;
$breakpoint-xlg       : 1024px;
$breakpoint-xxlg      : 1200px;
$container-padding    : 15px;
$container-max-width  : 1024px;
$global-border-radius : 7px;