.field {
    box-shadow    : 0px 4px 16px rgba(0, 0, 0, 0.5);
    border-radius : 7px;

    &.button {
        box-shadow : none;
    }

    &.disabled {
        pointer-events : none;
        opacity        : 0.7;
    }

    input,
    textarea {
        box-sizing      : border-box;
        width           : 100%;
        background      : black;
        padding         : 15px;
        color           : white;
        display         : block;
        border          : none;
        backdrop-filter : blur(2px);
        border-radius   : 7px;
        color           : white;
        position        : relative;
        background      : rgba(29, 36, 50, 0.5);

        &::placeholder {
            font-style : italic;
            color      : rgb(138, 138, 138);
            filter     : drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
        }

        &:focus,
        &:active {
            outline : none;
        }
    }

    textarea {
        height : 100px;
    }

    button {
        width         : 100%;
        background    : white;
        padding       : 15px;
        border        : none;
        max-width     : 300px;
        display       : block;
        border-radius : 5px;
        margin        : 0 auto;
        box-shadow    : 0px 4px 16px rgba(0, 0, 0, 0.5);
    }
}