$loader-size : 200px;

#loading-screen {
    width           : 100vw;
    height          : 100vh;
    background      : rgb(25, 25, 25);
    z-index         : 10000;
    position        : fixed;
    top             : 0px;
    left            : 0px;
    display         : flex;
    padding         : 25px;
    justify-content : center;
    align-items     : center;
    text-align      : center;
    box-sizing      : border-box;
    opacity         : 1;
    transition      : opacity 0.5s ease-in-out;

    @media (min-width : $breakpoint-md) {
        text-align      : left;
        justify-content : flex-start;
        align-items     : flex-end;
    }

    &.removed {
        opacity        : 0;
        pointer-events : none;
    }

    &.fadeout {
        opacity : 0;
    }

    .bg {
        width    : 100%;
        height   : 100%;
        position : absolute;
        top      : 0px;
        left     : 0px;

        &.bg-1 {
            // background-image    : url("/assets/images/loader-bg.jpg");
            background-size     : cover;
            background-position : 50% 50%;
            filter              : saturate(0.6);
            opacity             : 0.2;
        }

        &.bg-2 {
            backdrop-filter : blur(7px);
        }
    }

    .stars {
        position   : absolute;
        top        : 0px;
        left       : 0px;
        z-index    : 1;

        span {
            display       : block;
            position      : absolute;
            background    : white;
            border-radius : 100px;
            opacity       : 0;
            box-shadow    : 0px 0px 6px rgba(255, 255, 255, 0.9);
            animation     : fade-in 0.25s linear 1 forwards;
        }
    }

    .content {
        position  : relative;
        opacity   : 1;
        z-index   : 2;

        .text {
            font-size : 1.5em;
        }

        .loading-bar {
            margin-top : -5px;

            div {
                width         : 140px;
                height        : 8px;
                border-radius : 7px;
                // border        : 1px solid white;
                margin-right : auto;
                margin-left  : auto;
                position     : relative;
                box-shadow   : 0px 0px 10px rgba(255, 255, 255, 0.1);
                background   :rgb(22, 22, 22);

                span {
                    width         : 0%;
                    height        : 100%;
                    background    : white;
                    display       : block;
                    border-radius : 7px;
                    position      : absolute;
                    animation     : loading 3s linear 1 forwards;
                }

                @keyframes loading {
                    100% {
                        width : 100%;
                    }
                }
            }
        }

        svg {
            circle {
                &:nth-child(3) {
                    animation        : spin1 5s linear infinite;
                    transform-origin : 50% 50%;
                }

                &:nth-child(4) {
                    animation        : spin2 10s linear infinite;
                    transform-origin : 50% 50%;
                }
            }
        }
    }

    @keyframes text {
        0% {
            transform : translate(-50%, -50%) scale(1);
        }

        50% {
            transform : translate(-50%, -50%) scale(1.05);
        }

        0% {
            transform : translate(-50%, -50%) scale(1);
        }
    }

    @keyframes fade-in {
        100% {
            opacity : 1;
        }
    }
    
    @keyframes grow {
        100% {
            transform : scale(1);
            opacity   : 1;
        }
    }
    
    @keyframes spin1 {
        100% {
            transform : rotate(360deg);
        }
    }
    
    @keyframes spin2 {
        100% {
            transform : rotate(-360deg);
        }
    }
}