.spotlight {
    width           : 100vw;
    height          : 100vh;
    background      : rgb(25, 25, 25);
    position        : fixed;
    top             : 0px;
    left            : 0px;
    z-index         : 50;
    display         : flex;
    justify-content : center;
    align-items     : center;

    .close-btn {
        position    : absolute;
        right       : 15px;
        color       : white;
        background  : none;
        top         : 15px;
        font-size   : 2.5em;
        display     : flex;
        align-items : center;
        border      : none;
    }

    .swiper-container {
        .swiper-slide {
            width        : 100% !important;
            margin-right : 0px !important;
        }

        img,
        video {
            width     : 90%;
            display   : block;
            max-width : 1024px;
            margin    : 0 auto;
        }
    }
}