.work-projects {
    width : 100%;

    h4 {
        display       : block;
        margin-bottom : 25px;
        font-size     : 1.25em;

        @media (min-width : $breakpoint-xsm) {
            font-size     : 1.6em;
            margin-bottom : 30px;
        }
    }

    .project-list {
        margin-bottom : 50px;

        @media (min-width : $breakpoint-xsm) {
            margin-bottom : 100px;
        }

        &:last-child {
            margin-bottom : 0px;
        }

        .row {
            width          : 100%;
            box-sizing     : border-box;
            display        : flex;
            margin-top     : -20px;
            pointer-events : none;
            transition     : 0.15s transform ease-in-out;

            &:hover {
                transform : scale(1.015);
            }

            &:active {
                transform : scale(0.995);
            }

            &:first-child {
                margin-top : 0px;
            }

            &:nth-child(even) {
                justify-content : flex-end;

                .work-project {
                    transform : translate(200px, -5px) scale(0.5);
                }
            }

            &:nth-child(odd) {
                .work-project {
                    transform : translate(-200px, -5px) scale(0.5);
                }
            }

            .work-project {
                position            : relative;
                height              : 125px;
                border-radius       : $global-border-radius;
                width               : 55%;
                background-size     : cover;
                background-position : 50% 0%;
                cursor              : pointer;
                opacity             : 0;
                pointer-events      : all;
                box-sizing          : border-box;

                &:hover {
                    transform : scale(1.5);
                }

                @media (min-width : $breakpoint-xsm) {
                    height : 200px;
                }

                @media (min-width : $breakpoint-md) {
                    height : 250px;
                }

                @media (min-width : $breakpoint-xmd) {
                    height : 300px;
                }

                @media (min-width : $breakpoint-lg) {
                    height : 340px;
                }

                .overlay {
                    position                   : absolute;
                    bottom                     : 0px;
                    display                    : flex;
                    box-sizing                 : border-box;
                    justify-content            : center;
                    width                      : 100%;
                    align-items                : center;
                    border-bottom-left-radius  : 5px;
                    border-bottom-right-radius : 5px;
                    font-size                  : 12px;
                    background                 : rgba(25, 25, 25, 0.8);
                    padding                    : 5px;
                    
                    @media (min-width : $breakpoint-md) {
                        top        : 0px;
                        background : rgba(0, 0, 0, 0.5);
                        left       : 0px;
                        height     : 100%;
                        opacity    : 0px;
                    }
                }
            }
        }
    }
}