#page--about {
    height      : 100%;
    outline     : 1px solid blue;

    .header {
        position : absolute;
        top      : 90px;
    }

    .content {
        // outline : 1px solid blue;
        height      : 100%;
        align-items : center;
        display     : flex;
        position    : relative;
        top         : 50px;

        img {
            width : 250px;
        }

        .about-me {
            background : rgb(0, 100, 150);
            width      : 85%;
            position   : relative;
            right      : -25px;
            top        : -20px;
            padding    : 10px;
        }
    }
}