#page--project {
    .body {
        > .swiper-container .swiper-wrapper {
            .swiper-slide {
                transform        : scale(0.8);
                transform-origin : 50% 50%;
                z-index          : 0;
                transition       : transform 0.5s ease-in-out;

                &.swiper-slide-active {
                    transform : scale(1);
                    z-index   : 5;
                }
            }
        }
    }
}