#page--work {
    padding-bottom : 26px;
    overflow-x     : hidden;

    .sp-5 {
        opacity   : 0;
        transform : translate(0, -20px);
    }

    .work-proejcts-wrap {
        &:hover {
            transform : scale(1.1);
        }
    }
}